{% extends "template.html" %}
{% block content %}
<div class="container">
    <div class-"col-xs-6">
        <h1>Goal:</h1>
        <p>Our goal is simple: to provide food to those who need it within the Portland metro area. For some, we exist as an alternative welcoming food resource to those who choose not to be affiliated with other existing resources for a variety of personal reasons. These are the suggested guidelines to make it easier for new participants to engage in the FHS mission. Service is generally provided near 9th & SW Salmon (in the NW corner of Director Park), however; some evenings FHS may serve as a mobile unit to address emergency needs during inclement weather. This is dependent upon the availability and resources of FHS volunteers and the larger FHS network. FHS members appreciate and recognize that people do what they can. 
        </p>
        <h1>Free Hot Soup Videos:</h1>
        <iframe width="50%" height="260" src="https://www.youtube.com/embed/hKUyIxb76ms" frameborder="0" allowfullscreen></iframe>
        <iframe width="50%" height="260" src="https://www.youtube.com/embed/GniwYm7dGIs" frameborder="0" allowfullscreen></iframe>
        <h1>Links:</h1>
        <a class="theme_colors lead" href="https://www.facebook.com/pages/Free-Hot-Soup/1420604344841011">Free Hot Soup Facebook Group</a>
        <br><br>
        <a class="theme_colors lead" href="https://github.com/freehotsoup/freehotsoup">Free Hot Soup GitHub Project</a>
        <br><br>
    </div>

{% endblock %}
