{% extends "template.html" %}
{% block content %}
<div class="container">

    <form action="/view?tid={{ ticket.tid }}&status=ready" method="POST">

        {% if ticket %}
        <div class="col-md-6">
            <h2>{{ticket.ticket_type|title}} <span class="label label-success">{{ ticket.status|upper }}</span></h2>
            <br>
            <div class="form-group row">
                <label for="item" class="col-sm-3 col-form-label">Item *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="item" name="item" readonly required value="{{ticket.item}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="gyfter" class="col-sm-3 col-form-label">Name *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="gyfter" name="gyfter" readonly required value="{{ticket.gyfter}}">
                </div>
            </div>

            {% if ticket.ticket_type == "donate" %} 
                <div class="form-group row">
                    <label for="delivery_options" class="col-sm-3 col-form-label">Delivery Options</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="delivery_options" name="delivery_options" readonly value="needs picked up">
                    </div>
                </div>
            {% else %}
                <div class="form-group row">
                    <label for="pickup_options" class="col-sm-3 col-form-label">Pickup Options</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="pickup_options" name="pickup_options" readonly value="needs delivered">
                    </div>
                </div>
            {% endif %}

            <div class="form-group row">
                <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control" type="text" id="comments" name="comments">{{ticket.comments}}</textarea>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Delivery Instructions</h2>
            <br>
            <div class="form-group row">
                <label for="deliverer" class="col-sm-3 col-form-label">Deliverer *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="deliverer" name="deliverer" required autofocus value="{{deliverer}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_address" class="col-sm-3 col-form-label">Address *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="dropoff_address" name="dropoff_address" required value="{{dropoff_address}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_date" class="col-sm-3 col-form-label">Dropoff Date *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="date" id="dropoff_date" name="dropoff_date" required value="{{dropoff_date}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dropoff_time" class="col-sm-3 col-form-label">Dropoff Time *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="time" id="dropoff_time" name="dropoff_time" required value="{{dropoff_time}}">
                </div>
            </div>

            <!-- update button -->
            <button type="submit" class="btn btn-lg btn-primary" style="width:75%">Update</button>

            <!-- cancel button -->
            <a href="/view?tid={{ ticket.tid }}">
                <div class="btn btn-lg btn-danger" style="width:24%">cancel</div>
            </a>
        </div>
    {% endif %}
    </form>
</div>
{% endblock %}
