{% extends "template.html" %}
{% block content %}
<div class="container">

    <form action="/view?tid={{ ticket.tid }}&status=match found" method="POST">

        {% if ticket %}
        <div class="col-md-6">

            <h2>{{ticket.ticket_type|title}} <span class="label label-success">{{ ticket.status|upper }}</span></h2>
            <br>

            {% if ticket.ticket_type == "donation" %} 
            <div class="form-group row">
                <label for="gyfter" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="gyfter" name="gyfter" readonly value="{{ticket.gyfter}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="item" class="col-sm-3 col-form-label">Item</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="item" name="item" readonly required value="{{ticket.item}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="delivery_options" class="col-sm-3 col-form-label">Delivery Options</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="delivery_options" name="delivery_options" readonly value="{{ticket.delivery_options}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control" type="text" id="comments" name="comments" readonly>{{ticket.gyfter_comments}}</textarea>
                </div>
            </div>

            {% else %}
            <div class="form-group row">
                <label for="requester" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="requester" name="requester" readonly value="{{ticket.requester}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="item" class="col-sm-3 col-form-label">Item</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="item" name="item" readonly value="{{ticket.item}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="pickup_options" class="col-sm-3 col-form-label">Pickup Options</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="pickup_options" name="pickup_options" readonly value="{{ticket.pickup_options}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control" type="text" id="comments" name="comments" readonly>{{ticket.requester_comments}}</textarea>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- I have this or I could use this form -->
        <div class="col-md-6">
            {% if ticket.ticket_type == "donation" %} 
            <h2>I could use this!</h2>
            <br>
            <div class="form-group row">
                <label for="requester" class="col-sm-3 col-form-label">Name *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="requester" name="requester" required ass="form-control col-sm-10" id="name" name="name" placeholder="Name" >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Phone *</label>
                <div class="col-sm-9">
                    <input type="tel" class="form-control" pattern="[0-9]{10}" id="phone" name="phone" placeholder="Enter the 10 Digit Phone Number (eg: ##########)" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="location" name="location" placeholder="Address or Location">
                </div>
            </div>
            <div class="form-group row">
                <label for="pickup" class="col-sm-3 col-form-label">Pickup Options</label>
                <div class="col-sm-9">
                    <select class="form-control" id="pickup" name="pickup">
                        <option value="Needs delivered">Needs delivered</option>
                        <option value="Can pick up">Can pick up</option> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control" type="text" id="comments" name="response_comments" placeholder="Mention your availability and time preferences if any"></textarea>
                </div>
            </div>
            <!-- update button -->
            <button type="submit" class="btn btn-lg btn-success" style="width:75%">Submit Request</button>

            {% else %}
            <h2>I have this!</h2>
            <br>
            <div class="form-group row">
                <label for="gyfter" class="col-sm-3 col-form-label">Name *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="gyfter" name="gyfter" required name="name" placeholder="Name" >
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Phone *</label>
                <div class="col-sm-9">
                    <input type="tel" class="form-control" pattern="[0-9]{10}" id="phone" name="phone" required placeholder="Enter the 10 Digit Phone Number (eg: ##########)">
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-sm-3 col-form-label">Address *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="location" name="location" placeholder="Address or Location">
                </div>
            </div>
            <div class="form-group row">
                <label for="delivery" class="col-sm-3 col-form-label">Delivery Options</label>
                <div class="col-sm-9">
                    <select class="form-control" id="delivery" name="delivery">
                        <option value="Needs picked up">Needs picked up</option>
                        <option value="Can drop off">Can drop off</option> 
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="comments" class="col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
                    <textarea class="form-control" type="text" id="comments" name="response_comments" placeholder="Mention your availability and time preferences if any"></textarea>
                </div>
            </div>
            <!-- update button -->
            <button type="submit" class="btn btn-lg btn-success" style="width:75%">Submit Donation</button>
            {% endif %}

            <!-- cancel button -->
            <a href="/view?tid={{ ticket.tid }}">
                <div class="btn btn-lg btn-danger" style="width:24%">cancel</div>
            </a>

        </div>
    {% endif %}
    </form>
</div>
{% endblock %}
